body{
    margin: 0;
    padding: 0;
    background-color: #354f52;
}

.main-container{
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
}

.heading{
    background-color: #2a3b38;
    font-size: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 150px;
    color: #f4b41a;
    /**font-family: 'DotGothic16', sans-serif;**/
    font-family: 'Silkscreen', sans-serif;
}

.main-body{
    /**background-color: #354f52;**/
    display: flex;
    flex-direction: column;
    padding-top: 15px;
    padding-left: 100px;
    padding-right: 100px;
    align-items: center;
    /**height: 798px;**/
    /**height: 83vh;**/
}

.choose-text{
    font-size: 30px;
    color: #f4b41a;
    font-family: 'Silkscreen', sans-serif;
}


.buttons{
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding-bottom: 20px;
}


#btnScr, #btnPpr, #btnRck{
    border-radius: 20px;
    height: 300px;
    width: 180px;
    border: none;
    background-color: #2a3b38;
}

.sign{
    font-size: 75px;
    align-items: center;
    color: #f4b41a;
}

.points{
    display: flex;
    gap: 125px;
    padding-top: 20px;
    align-items: center;
}


.player, .computer{
    justify-content: center;
    height: 180px;
    max-width: 200px;
    background-color: #2a3b38;
    font-family: 'Silkscreen', sans-serif;
    color: #f4b41a;
    font-size: 18px;
    padding-top: 3px;
    border-radius: 10px;
}
.player{
    padding-left: 17px;
    padding-right: 17px;
}

.computer{
    padding-left: 5px;
    padding-right: 5px;
}

button{
    padding: 10px 20px;
}